<table>
  <tr>
    <th>Username</th>
    <th>Points</th>
  </tr>
  <% for user in @users %>

    <tr>
      <td><%= user.username %></td>
      <td><%= user.points %></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
