<div class="row-fluid">
  <div class="span8">
    <h2>Frequently Asked Questions</h2>
    <p class="lead">Here are some answers to some of the most frequently asked questions surrounding our service</p>
    <h3>What is the purpose of weSpruce?</h3>
    <p>
    We all want to make a difference in our community.  Perhaps you have investigated volunteer opportunities in your
    town only to be met with frustration.  It seems like it's a lot harder than it should be to just get out there
    and make a difference!  This is where weSpruce steps in.  This site gives communities a platform to report and clean
    specific problems within your home town.
    </p>
    <h3>How does it work?</h3>
    <p>Here's an example.</p>
    <ul>
      <li>Paul sees a pile of garbage that someone has dumped on a street near his home. If only he had a pickup truck he would do this himself, but alas, he doesn't. Paul feels frustrated, but doesn't know what to do or who to call.</li>
      <li>Suddenly, Paul remembers <strong>weSpruce</strong>! The website that allows people to crowdsource community clean-up to their community!</li>
      <li>Paul creates a <strong>problem</strong> within the site.  Each problem gets a rating based on complexity. This feels like a 2-star task for someone with a truck. Since Paul's on a GPS-enabled phone, the location is automatically associated with the problem.</li>
      <li>Paul snaps a couple of photos and attaches them to the problem for a would-be cleaner to have a look at. Done! Paul got some points, too!</li>
      <li>Later that day, Susan, who lives in the same town, is browsing the site and sees Paul's problem.</li>
      <li>She checks it out and it looks easy enough, so she clicks a button and suddenly SHE has ownership of this problem.</li>
      <li>Susan uses the integrated Google Map to easily get to the site of the problem and does the work!  She snaps a couple of 'after' photos and attaches them to the problem, marking it as Complete!</li>
      <li>Paul gets notified that his problem was resolved and Susan got some points! Enough to earn a "Community Lover" badge!</li>
    </ul>
    <p>There are lots of other fun things, too. Browse other problems and drop some encouraging comments. Earn points for doing good and compete to be the best do-gooder in your town!</p>
    <p>
    weSpruce is incredibly efficient and easy to use.  Once you have an account, you can contribute in two ways. You can
    <strong>report</strong> problems or <strong>clean</strong> problems.  Or do a bit of both! If you choose to report a
    problem, you basically travel around your home town and log problems that you see.  Perhaps it's a heap of garbage
    that someone has dumped on an empty street, or perhaps it's a pile of tires that are on the side of the road someplace.
    All you have to do is create a problem in the site, rate it from 1-5 stars based on the difficulty of the job and perhaps
    attach a photo of the incident.
    Your problem will appear on the site immediately to be picked up by anyone that wants to be a <strong>cleaner</strong>.
    If you feel like going out and doing the work, you can browse the problems in your area and then take ownership
    of them.  Take an after picture too!  Attach it for the original reporter to see.  Progress!
    </p>
  </div>
  <div class="span4">
    <div class="module emphasized-1">
      <h3>So Efficient!</h3>
      <p>There has never been a platform like this that makes it easier than ever to make a difference in your community.</p>
      <p>All you have to do is sign up and get to work!</p>
    </div>
    <div class="module emphasized-3">
      <h3>People working together</h3>
      <p>Report problems and see results! You can attach a photo to the problem. Perhaps whoever fixes it will attach a photo as well! Before and after! Instant satisfaction.</p>
    </div>
    <div class="module emphasized-4">
      <h3>The more you do...</h3>
      <p>As you complete and report problems, you get points. The more points you earn, the more achievements and badges you earn. The more badges you earn, the higher your rank in your town!  Battle it out to be #1!</p>
    </div>
  </div>
</div>
