<div class="comment">
  <p><%= comment.comment %></p>
  <p>-- <%= link_to comment.user.username, profile_path(comment.user.username) %>
  <% if @project.creator == current_user %>
    <small>(<%= link_to "remove this comment", remove_comment_project_path(@project, comment_id: comment.id), {method: "delete"} %>)</small>
  <% end %>
  </p>
</div>
<hr>
