<%= simple_form_for @project.comments.build, url: comment_project_path(@project) do |f| %>
  <div class="form-inputs">
    <%= f.input :comment, required: true %>
    <%= f.button :submit, 'Submit Comment', class: 'btn btn-primary' %>
  </div>
<% end %>
