<div class="row-fluid">
  <div class="span8">
    <h2>Update the project</h2>

    <%= render partial: 'form' %>
  </div>
  <div class="span4">
    <div class="module de-emphasized-1">
      <h3>Things to keep in mind</h3>
      <p>The details you leave here should encompass everything a complete newbie would need to complete this task.  Think of listing what the cleaner might need to complete this problem (vehicles, tools).  The more thorough you are, the better chance someone will have at getting the job done right!</p>
      <p>Tasks lacking necessary details may be <strong>flagged for removal</strong>, so please provide any details that you think might help!</p>
    </div>
  </div>
</div>

<%# Add project to Javascript %>
<script>
  <%= raw("WS.project = #{@project.to_json};") %>
</script>