<script id="project_info_window" type="text/html">
  <div id="project_{{id}}">
    <h6><a href="/projects/{{id}}">{{name}}</h6>
    <p>{{description}}</p>
    <div class='rating rating-{{rating}}'></div>
  </div>
</script>